<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>TTS Final</title>
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/custom.css" />
</head>
<body>
     <div id="header">
     	<img th:src="@{/images/logo1.jpg}"width="300" height="200" /> 
      	<br />
      	<br />
      	<br />
      	<div id="sitebranding">
       	 <h1>  Welcome to TSS Coding Bootcamp</h1>
      	</div>
      		<div>
        		<marquee direction="right" height="100" width="500"   >HTML CSS Javascript React Node.JS MYSQL Java Springboot Framework</marquee>
      		 <!-- 	<img src="@{/images/logo1.jpg}"width="200" height="162" /> -->
            </div>		     				
     </div>
     		
	<div class="container text-center"> 	
	   	
			<h3><a th:href="@{/users}">TTS Student Database</a></h3>
			<h3><a th:href="@{/register}">New Student Registration</a></h3> 
			 <!--  <h3><a th:href="@{/login}">Future Features</a></h3> -->  
			 <h3><a th:href="@{/images/undercons.jpg}">TTS File Drop Box(upload files here)</a></h3> 
	</div>
</body>
</html>